@model Amora.Models.UserProfileViewModel
@{
    ViewData["Title"] = "User Profile";
    var userName = Context.Session.GetString("Name");
    var userSurname = Context.Session.GetString("Surname");
    var userGender = Context.Session.GetString("Gender");
    var userAge = Context.Session.GetInt32("Age"); 
    var userHobby = Context.Session.GetString("Hobby");
    var userPhoto = Context.Session.GetString("Photo");
}

<style>
    body {
        background-image: url('/Images/Website/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<h1 class="text-center">User Profile</h1>

@if (userName != null)
{
    <div class="container d-flex flex-column justify-content-end align-items-start bg-white w-50 rounded-3 p-4 border-4 shadow"
         style="height: 60vh; background-image: url('/Images/@userPhoto'); background-size: cover; background-repeat: no-repeat">
        <div class="w-50 bg-white bg-opacity-75 p-3 shadow rounded-3">
            <p class="mb-0">Name: @userName</p>
            <p class="mb-0">Surname: @userSurname</p>
            <p class="mb-0">Gender: @userGender</p>
            <p class="mb-0">Age: @userAge</p>
            <p class="mb-0">Hobby: @userHobby</p>
        </div>
    </div>
    <div class="container text-center mt-1">
        <a asp-controller="Account" asp-action="EditHobby" class="btn btn-outline-dark btn-danger mt-5 shadow">Edit Hobby</a>
    </div>
}
else
{
    <p class="text-center">No user data available.</p>
}
