@model EditHobbyViewModel
@{
    ViewData["Title"] = @Amora.Resources.Resource.EditH;
}
<style>
    body {
        background-image: url('/Images/Website/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<h1>@Amora.Resources.Resource.EditH</h1>

<form asp-action="EditHobby" method="post">
    <div class="form-group">
        <label asp-for="Hobby" class="control-label"> @Amora.Resources.Resource.Hobby</label>
        <input asp-for="Hobby" class="form-control" />
        <span asp-validation-for="Hobby" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-outline-dark btn-danger mt-3">@Amora.Resources.Resource.Save</button>
</form>
<a asp-action="Profile" asp-controller="Home" class="btn btn-outline-dark btn-danger mt-3">@Amora.Resources.Resource.BackToProfile</a>