@{
    ViewData["Title"] = "FAQ";
}

<style>
    body {
        background-image: url('/Images/Website/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }


</style>

<div class="w-75 bg-white bg-opacity-75 p-3 shadow rounded-3 mx-auto">
    <h2>FAQ</h2>
    <p>@Amora.Resources.Resource.FAQ1</p>

    <h3>@Amora.Resources.Resource.FAQ2</h3>
    <p>@Amora.Resources.Resource.FAQ3</p>

    <h3>@Amora.Resources.Resource.FAQ4</h3>
    <p>@Amora.Resources.Resource.FAQ5</p>

    <h3>@Amora.Resources.Resource.FAQ6</h3>
    <p>@Amora.Resources.Resource.FAQ7</p>
</div>

<div class="w-75 bg-white bg-opacity-75 p-3 shadow rounded-3 mx-auto mt-4">
    <h3>@Amora.Resources.Resource.Report</h3>
    <form action="mailto:amoracontact@proton.me" method="post" enctype="text/plain">
        <div class="mb-3">
            <label for="problem">@Amora.Resources.Resource.DescribeProblem</label>
            <textarea class="form-control" id="problem" name="problem" rows="3" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">@Amora.Resources.Resource.Submit</button>
    </form>
</div>
