@{
    ViewData["Title"] = @Amora.Resources.Resource.NoMatches;
}
<style>
    body {
        background-image: url('/Images/Website/background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="container bg-danger w-50 rounded-3 p-4 border-4 shadow">
    <h1 class="display-4">@Amora.Resources.Resource.NoMatchesFound</h1>
    <p class="lead">@Amora.Resources.Resource.NoMatchesFoundText</p>
    <a class="btn btn-outline-dark btn-danger" href="@Url.Action("Index", "Home")">@Amora.Resources.Resource.GoToHome</a>
</div>
